body {
  font-family: 'Roboto', sans-serif;
}

.events {
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #1bdea4;
}

.events .event {
  width: 300px;
  border: 1px solid #56f3c1;
  box-shadow: 0 0 2px 0 rgba(145, 171, 149, 0.2), 0 12px 24px -4px rgba(204, 64, 4, 0.12);
}

.event-title {
  color: #332732;
  font-weight: 900;

}

.event img {
  height: 150px;
}

.actions {
  flex-wrap: wrap;
}

.quantity {
  margin: 12px auto;
}

.link-item {
  color: #090909
}

.logo {
  height: 50px;
  padding: 6px;
}

.add-btn {
  background-color: #f5f052;
}

.add-to-cart-btn {
  background: #02650f;
  margin: 22px auto;
  display: block;
  width: 100%;
}

.main-content-component {
  margin-bottom: 40px;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  text-align: center; 
  padding: 10px;
}

.event-image {
  margin-top: 5px;
}

.ticketType {
  border: 1px solid #ccc;
  padding: 10px;
}

.text-lg {
  font:bold;
  font:italic;
} 

.date-range {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
}

.ticket-type-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.addToCartBtn {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.addToCartBtn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.description {
  font-size: 14px; 
  color: #7e7c7c;
}
